/*google font link*/
body{
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
    margin: 0;
}
/* header manu logo container*/
header{
    display: flex;
    justify-content: center;
}
.header-container{
    width:1160px;
}
.top-manu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logos{
    width: 243px;
    font-size: 24px;
    color: #3A3A3A;
    font-weight: 700;
}
.manu{
    width: 463px;
    height: 36px;
}
a{
    text-decoration: none;
}
#anchor{
    font-size: 16px;
    font-weight: 600;
    color:#3A3A3A;
    padding-left: 32px;
}
/* ---------------------header manu------/
/---End------------------- */
/*-------------top section-----------
----------------------------Start */

.top-sectio{
 display: flex;
 justify-content: center;
}
.top-container{
     display:grid;
     grid-template-columns: repeat(2,1fr);
}
.top-button{
    width: 582px;
    height: 270px;
    margin-top: 145px;
}
.top-h2{
    color: #3A3A3A;
    font-size: 52px;
    margin-bottom: 16px;
}
.top-peragraph{
    Width:505px;
    Height:60.9px;
    font-size: 16px;
    margin-bottom: 16px;
}
.button{
    width:196px;
    height: 44px;
    background: #E02C6D;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px 10px;
    border-radius:41px;
}
.left{
    padding-left: 8px;
}
img{
    width: 100%;
}
.top-imgo{
   width:475px;
   height:800px;
   padding-top: 50px;
   position: relative;
   padding-left: 131px;
}
.camera{
    width: 440px;
    height: 414px;
    position: absolute;
    top:50px;
    transition: 5s;
}
.camera:hover{
    transform: rotate(180deg);
}
/* top section End-----------------------------------/
              my top section End
/-------------------------------------- */
.to-section{
    display: flex;
    justify-content: center;
}
.popular{
    font-size: 28px;
    color: #3A3A3A;
    text-align: center;
    margin-top: 100px;
}
.compani-logo{
    width: 1110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.logo-size{
    display: flex;
    justify-content: center;
    align-items: center;
}
.compani-dites{
    padding-left: 61px;
}
/* --------------------------
compani logo section End
------------------------- */
/* ----------------------------
product section Start manu
--------------------------- */
.product-section{
   display: flex;
   justify-content: center;
}
.bloge{
    width: 1047px;
    height: 1662px;
    position: relative;
    margin-bottom: 140px;
}
.popular-calcoletion{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.product-info{
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 2px 2px 20px #d4d4d4;
    border-radius: 10px;
    margin-top: 30px;
}
.width-img{
    width: 300px;
    height: 256px;
    padding-left: 15px;
    padding-top:20px;
    border-radius: 10px;
}
.product-name{
    padding-left: 11px;
    padding-top: 11px;
    position: relative;
    top: -60px;
}
.product-head{
    font-size: 28px;
    color: #18191F;
}
.peragraph-p{
    font-size:24px;
    font-weight: 500;
    margin-top: -50px;
}
span{
    color: #787885;
}
.fa-star{
    color: #FB8200;
}
.title-p{
    font-size: 14px;
    color: #787885;
}
.arrow{
    text-align: right;
    margin-right: -193%;
    font-weight: bold;
    color: #E02C6D;
    margin-top: 50px;
}
/* --------------------------------------------------
       LAST PAGE SECTION START
----------------------------------- */
.anim-ation{
    width: 404px;
    height: 270px;
    background-image: url(images/drone.png);
    background-repeat: no-repeat;
    background-size:70%;
   animation-name: Heropro;
   animation-duration:10s;
   animation-direction: alternate-reverse;
   animation-iteration-count:infinite;
   animation-delay:2s;
   animation-timing-function: ease-in-out;
}

@keyframes Heropro {
    0%{
        background-image: url(images/mic.png);
    }
    25%{
        background-image: url(images/main-camera.png);
    }
    25%{
        background-image: url(images/setup.png);
    }
    25%{
        background-image: url(images/tripod.png);
    }
    75%{
        background-image: url(images/camera.png);
    }
    100%{
        background-image: url(images/single-light.png);
    }
}
.animation-section{
    display: flex;
    justify-content: center; 
}
.content-area{
    width: 1110px;
    height: 270px;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-bottom: 100px;
}
.half-width{
    width: 610px;
    height: 224px;
}
.hedding{
    font-size: 38px;
    color: #0A0826;
    font-weight: 700;
}
.heding-p{
    font-size: 16px;
    color: #6C6C6C;
    margin-bottom:20px;
}
.squar-button{
    background: #E02C6D;
    width: 155px;
    height: 24px;
    color: #FFFFFF;
    padding: 10px 24px;
    font-size: 16px;
}

/* ---------------------------------------
product section End
---------------------------------- */
/* footer box-------------------------------
---------------------------- */
footer{
    height:300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-box{
    width: 262px;
    height: 139px;
}
.footer-heddings{
    font-size: 24px;
    color: #FFFFFF;
    text-align: center;
}
.footer-copyright{
    text-align: center;
    color: #D9DBE1;
    font-size: 14px;
}
.suchal{
    margin-left:20px;
    color: #FFFFFF;
    padding-left: 20px;
}
/* ---------------------------------------
       Decstop Vertion 
------------------------------------- */
@media screen and (max-width:1312px) {
    .top-container{
        grid-template-columns: repeat(2,1fr);
   }
    .popular-calcoletion {
        display: grid;
        grid-template-columns: repeat(3,1fr);
      }
    }

    /* ------------------------------------
        Teblate version Media quray
    ---------------------------------- */
    @media only screen and (max-width:992px){
        .top-container{
            grid-template-columns: repeat(1,1fr);
       }
        .popular-calcoletion {
            display: grid;
            grid-template-columns: repeat(2,1fr);
          }
    }
/* --------------------------------------
         MOBILE VERSTION
------------------------------------ */
@media only screen and (max-width:688px){
    .top-sectio{
        width: 100%;
       }
       .top-container{
            grid-template-columns: repeat(1,1fr);
       }
       .top-h2 {
        color: #3A3A3A;
        font-size: 36px;
        margin-bottom: 16px;
        text-align: center;
    }
    .top-peragraph {
        Width:400px;
        Height: 60.9px;
        font-size: 16px;
        text-align: center;
    }
       .top-button{
        flex-direction: column;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .logo-size {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .popular {
        margin-top: 190px;
      }
    .product-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .arrow{
        text-align: right;
        margin-right:8%;
        font-weight: bold;
        color: #E02C6D;
        margin-top: 50px;
    }
    .popular-calcoletion {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        justify-items: center;
    }
    .animation-tabe{
        margin-bottom: 160px;
    }
    .content-area {
        width:350pxpx;
        height: 270px;
        margin-top:570%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-bottom: 197px;
        justify-items: end;
    }
    .half-width {
        width: 374px;
        height: 224px;
    }
    }
